.header {
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(mobile) {
        height: 100px;
        background: #A93EDC;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    }

    &__inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include responsive(mobile) {
            flex-direction: row-reverse;
        }
    }

    .logo {
        @include responsive(mobile) {
            width: 48px;
            overflow: hidden;
        }

        img {
            @include responsive(mobile) {
                width: 600%;
            }
        }
    }

    &-btn {
        width: 199px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F9EBFF;
        border-radius: 6px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #CD5CEE;
    }
}