.type {
  width: 100%;
  max-width: 1060px;
  margin-top: 56px;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;

  @include responsive(mobile) {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }

//  Video type
  &-video {
    .card {
      width: 500px;

      @include responsive(desktop) {
        //&:nth-child(2n+1) {
        //  margin-left: 0;
        //}
        //
        //&:nth-child(4n+4) {
        //  margin-left: 10px;
        //}
      }

      @include responsive(mobile) {
        width: 300px;
      }
    }
  }



  // Picture type
  &-picture {
    width: 1160px;
    max-width: 1160px;

    @include responsive(1366px) {
      width: 100%;
      max-width: 100%;
    }

    @include responsive(mobile) {
      width: 100%;
      max-width: 100%;
    }
    .card {
      width: 360px;

      @include responsive(mobile) {
        width: 300px;
      }
    }

    .card:nth-child(2) {

      @include responsive(mobile) {
        margin-top: 52px;
      }
    }

    .card:nth-child(3) {
      margin-top: 0;

      @include responsive(mobile) {
        margin-top: 52px;
      }
    }

    .card-descr-comments {
      margin-top: 24px;

      @include responsive(mobile) {
        margin-top: 18px;
      }
    }

    .card-buttons {
      margin-top: 30px;

      @include responsive(mobile) {
        //margin-top: 60px;
      }
    }

    .btn-vote {
      margin-right: 74px;

      @include responsive(mobile) {
        margin-right: 24px;
      }
    }

    .card-comments {
      margin-top: 6px;
      margin-left: 8px;
      position: absolute;
      z-index: 500;
    }
  }

  //  Story type
  &-story {
    width: 1160px;
    max-width: 1160px;

    @include responsive(1366px) {
      width: 100%;
      max-width: 100%;
    }

    @include responsive(mobile) {
      width: 100%;
      max-width: 100%;
    }
    .card {
      width: 360px;

      @include responsive(mobile) {
        width: 300px;
      }
    }

    .card:nth-child(3) {
      margin-top: 0;

      @include responsive(mobile) {
        margin-top: 57px;
      }
    }


    .card:nth-child(2) {

      @include responsive(mobile) {
        margin-top: 57px;
      }
    }

    .card-descr-comments {
      margin-top: 27px;

      @include responsive(mobile) {
        margin-top: 18px;
      }
    }

    .card-buttons {
      margin-top: 27px;

      @include responsive(mobile) {
        margin-top: 58px;
      }
    }

    .btn-vote {
      margin-right: 107px;

      @include responsive(mobile) {
        margin-right: 27px;
      }
    }

    .card-comments {
      margin-top: 18px;

      @include responsive(mobile) {
        position: absolute;
        bottom: 54px
      }
    }
  }
}

.type-active {
  display: flex;
}



//Card
.card {
  margin-top: 80px;

  @include responsive(desktop) {
    //margin-left: 2.2em;

    &:first-child {
      margin-left: 0;
    }

    &:nth-child(4n+4) {
      margin-left: 0;
    }
  }

  @include responsive(mobile) {
    margin-top: 56px;
  }
}

.card:nth-child(1),
.card:nth-child(2) {
  margin-top: 0;
}

.card:nth-child(2) {
  @include responsive(mobile) {
    margin-top: 52px;
  }
}

.card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  line-height: 110%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: rgba(0, 0, 0, 0.64);

  @include responsive(mobile) {
    font-size: 24px;
    line-height: 110%;
  }
}

.card-video {
  width: 100%;
  height: 250px;
  margin-top: 16px;
  background: rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  overflow: hidden;

  iframe {
    width: inherit;
    height: inherit;
  }

  @include responsive(mobile) {
    height: 150px;
    border-radius: 8px;
  }
}

.card-picture,
.card-story {
  width: 100%;
  height: 450px;
  margin-top: 16px;
  background: #FFFFFF;
  border-radius: 8px;

  @include responsive(mobile) {
    height: 375px;
  }
}

.card-picture {
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.48);
  cursor: pointer;

  .zoom-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 500;
  }

  .card-picture__image {
    width: inherit;
    height: inherit;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.card-story {
  padding: 32px 48px 0 40px;

  @include responsive(mobile) {
    height: 277px;
    padding: 24px 24px 0 24px;
    position: relative;
  }
}

.story,
.all-story {
  font-size: 24px;
  line-height: 130%;
  font-feature-settings: 'pnum' on, 'lnum' on;

  @include responsive(mobile) {
    font-size: 16px;
    line-height: 21px;
  }
}

.story {
  color: #000;
}

.all-story {
  display: block;
  margin-top: 16px;
  color: #D571FF;
  cursor: pointer;
  text-decoration-line: underline;
  text-align: left;

  @include responsive(mobile) {
    margin-top: 40px;
    text-align: left;
  }
}

.card-descr-comments {
  width: 100%;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 110%;
  font-feature-settings: 'pnum' on, 'lnum' on;

  @include responsive(mobile) {
    font-size: 14px;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.card_descr {
  width: 360px;
  color: rgba(0, 0, 0, 0.64);

  @include responsive(mobile) {
    width: 300px;
  }
}

.card-comments {
  color: #FF6D00;

  @include responsive(mobile) {
    margin-top: 16px;
    font-size: 18px;
    line-height: 110%;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }
}

.card-buttons {
  width: 100%;
  margin-top: 30px;
  margin-left: -2px;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  @include responsive(mobile) {
    margin-top: 26px;
  }
}

.card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.btn-vote {
  width: 147px;
  height: 36px;
  margin-right: 32px;
  background: #FB8023;
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  @include responsive(mobile) {
    margin-right: 20px;
  }
}

.btn-send {
  color: #FB8023;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;

  .viget {
    position: absolute;
    top: 50px;

    @include responsive(mobile) {
      display: none;
    }

    &__inner {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 205px;
      height: 56px;
      background: #2E2E2E;
      border-radius: 8px;
      font-size: 16px;
      line-height: 24px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #FFFFFF;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 6px 6px 6px;
        border-color: transparent transparent #2e2e2e transparent;
      }
    }
  }

  img {
    margin-left: 11px;
  }
}

.img-wrapp {
  width: inherit;
  height: inherit;
  min-height: inherit;
}

.no-flex-card {
  @include responsive(desktop) {
    justify-content: flex-start;

    .card {
      &:first-child {
        margin-left: 0;
      }
      margin-left: 40px;
    }
  }
}