.vote-filter {
  margin-top: 152px;

  @include responsive(mobile) {
    margin-top: 67px;
  }

  &__title {
    display: none;

    @include responsive(mobile) {
      display: block;
      width: 288px;
      font-size: 24px;
      line-height: 130%;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #FF6D00;
    }
  }
}



.filter-for-year {
  width: 282px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.05px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  text-align: center;
  color: rgba(43, 23, 7, 0.24);

  @include responsive(mobile) {
    width: 184px;
    height: 44px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
  }

  &__btn {
    width: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(4, 18, 27, 0.04);
    cursor: pointer;

    @include responsive(mobile) {
      width: 85px;
      background: #FFFFFF;
      border-radius: 10px;
    }
  }

  &__btn:first-child {
    border-radius: 10px 0 0 10px;

    @include responsive(mobile) {
      border-radius: 10px;
    }
  }

  &__btn:last-child {
    width: 144px;
    border-radius: 0 10px 10px 0;

    @include responsive(mobile) {
      width: 91px;
      border-radius: 10px;
    }
  }

  .filter-for-year__btn-active {
    color: #FFFFFF;
    background: #FB8023;

    @include responsive(mobile) {
      background: #FFF2E0;
      border: 2px solid #FF6D00;
      color: #FF6D00;
    }
  }
}

.filter-for-type {
  width: 1160px;
  margin-top: 52px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include responsive(1366px) {
    width: 100%;
  }

  @include responsive(mobile) {
    width: 283px;
    margin-top: 20px;
  }

  &__btn {
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -1.90204px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: rgba(0, 0, 0, 0.16);
    cursor: pointer;

    @include responsive(mobile) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 44px;
      border-radius: 10px;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      font-feature-settings: 'pnum' on, 'lnum' on;
      background-color: #fff;
    }

    &:first-child {

      @include responsive(mobile) {
        width: 79px;
      }
    }

    &:nth-child(2) {
      @include responsive(816px) {
        margin-top: 26px;
      }
      @include responsive(mobile) {
        margin-top: 0;
        width: 95px;
      }
    }

    &:nth-child(3) {
      @include responsive(1200px) {
        margin-top: 26px;
      }
      @include responsive(mobile) {
        margin-top: 0;
        width: 93px;
      }
    }

    .underline {
      width: 360px;
      height: 4px;
      margin-top: 9px;
      background: rgba(0, 0, 0, 0.16);

      @include responsive(mobile) {
        display: none;
      }
    }
  }

  &__btn-active {
    color: #FB8023;

    @include responsive(mobile) {
      background: #FFF2E0;
      border: 2px solid #FF6D00;
      border-radius: 10px;
      color: #FF6D00;
    }
    
    .underline {
      background: #FB8023;
    }
  }


}